.header {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  padding: 30px 5%;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 9999;
}
.header ul {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 20px;
  row-gap: 8px;
  align-items: end;
  flex-shrink: 0;
}
.header ul li {
  margin-left: 0px;
  letter-spacing: 1px;
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
}
.navbar-connect {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}
.navbar-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.navbar-logo {
  height: 60px;
  width: auto;
  max-width: 300px;
  object-fit: contain;
  transition: filter 0.3s ease;
  transform: translateY(10px);
}
.navbar-logo:hover {
  filter: drop-shadow(0 0 10px var(--accentColor));
}
@media only screen and (min-width: 500px) {
  .header {
    padding: 0px 0px;
  }
  .header ul {
    transform: translateY(-5px);
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }
  .header ul li {
    color: #eae5ec;
  }
  .navbar-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 900px) {
  .header ul {
    column-gap: 25px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 1300px) {
  .navbar-connect {
    display: block;
  }
  .header {
    padding: 0px 0px;
  }
  .header ul {
    column-gap: 35px;
    font-size: 15px;
    transform: translateY(5px);
  }
  .navbar-connect {
    font-size: 15px;
  }
  .navbar-connect {
    font-size: 15px;
  }
  .navbar-title {
    font-size: 18px;
  }
  .navbar-logo {
    height: 120px;
    max-width: 400px;
    transform: translateY(10px);
  }
}
